/* a minimalist set of CSS resets */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* adjust typography defaults */
body {
    margin: 1rem;
    font-family: sans-serif;
    line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
    height: auto;
    max-width: 100%;
}




.inline-svg {
    width: 200px;
}
.inline-svg path {
    transition: fill 0.3s ease-in-out;
    fill: black;
}

.inline-svg:hover path {
    fill: red;
}
