/* a minimalist set of CSS resets */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* adjust typography defaults */
body {
    margin: 1rem;
    font-family: sans-serif;
    line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
    height: auto;
    max-width: 100%;
}




#countries li:first-child {
    border: 2px solid red;
    font-weight: bold;
}
#countries li:last-child {
    border: 2px solid green;
    font-weight: bold;
}
#countries li:nth-child(4n) {
    border: 2px solid orange;
}
#countries li:nth-child(4n-1) {
    border: 2px solid blue;
}