/* a minimalist set of CSS resets */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* adjust typography defaults */
body {
    margin: 1rem;
    font-family: sans-serif;
    line-height: 1.5;
    text-align: center;
}

/* images and videos max out at full width */
img,
video {
    height: auto;
    max-width: 100%;
}
img {
    width: 250px;
    display: block;
    aspect-ratio: 1/1;
    margin-bottom: 1em;
    transition: 0.3s ease-in-out;
}
img:hover {
    transform: scale(1.1);
}

ul {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 250px 250px 250px;
}

li {
    padding: 1em;
}